<div class="grey-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="white-card">
          <h2>Invite <%= @accountant.name %> to quote</h2>
          <hr>
          <h4>Leave a message regarding <strong><%= @enquiry.title %>:</strong></h4>
          <%= render 'new_form', accountant: @accountant, enquiry: @enquiry, quote: @quote %>
        </div>
      </div>
    </div>
  </div>
</div>

