body {
  background-color: white;
}

.banner {
  h1 {
    color: black;
  }
  p {
    color: black;
  }
  text-align: left;
}

.primary-color {
  background-color: orange;
  border: none;
  &:hover {
    background-color: orange;
    border: none;
  &:active {
    background-color: orange;
    }
  }
}

.secondary-color {
  background-color: blue;
  border: none;
  &:hover {
    background-color: blue;
    border: none;
  &:active {
    background-color: blue;
    }
  }
}

.welcome-three-points {
  width: 100%;
  height: 200px;
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.point {
  display: flex;
  align-items: center;
}

.trusted-by{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $md-grey;
}

#main-graphic {
  height: 100%;
  width: auto;
}

.banner {
  a {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 0 20px;
    h1 {
      margin-top: 0;
      font-size: 32px !important;
    }
    img {
      display: none;
    }
    a {
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
    }
  }

  .trusted-by {
    flex-wrap: wrap;

    // .company {
    //   width: 40%;
    //   display: inline;
    //   text-align: center;
    // }
  }
  .footer {
    .footer-copyright {
      display: none;
    }
  }
}

.trusted-by p {
  text-align: center;
  font-weight: 300;
}

.title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $md-grey;
}

.heading-main {
  font-weight: 300;
  margin-bottom: 1.25rem;
  text-align: center;
  padding-bottom: 30px;
}

.company {
  filter: grayscale(100%);
  mix-blend-mode: darken;
}

#works {
  height: 100vh;
  background-color: white !important;
  display: flex;
  align-items: center;
}

.how-it-works  {
  h5 {
    display: inline-block;
    color: #EEA63E;
  }
  .number {
    padding-bottom: 20px;
  }
}

.item{
  padding-bottom: 60px;
}

.breathing-room {
  margin: 7px;
}

.feature{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-around;
}

.feature-card{
    border-radius: 4px;
    border: 1px solid rgba(230,232,235,.4);
    box-shadow: -3px 5px 10px 0 rgba(0,0,0,.03);
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 187px;
    padding: 0 20px;
    margin: 5px;
}

.feature-card h3 {
  font-weight: lighter;
  font-weight: 400;
  font-size: 24px;
}

.testimonials{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.testimonal{
  display: flex;
  flex-direction: column;
  height: 250px;
  max-width: 300px;
  padding: 50px 30px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  box-shadow: -3px 5px 10px 0 rgba(0,0,0,.03);
  text-align: center;
}

.divider {
  padding-top: 70px;
  padding-bottom: 70px;
}

.avatar-large {
  width: 100px;
  border-radius: 50%;
  position: relative;
  top: -90px;
}
.customers-section{
  background-color: $md-grey;
}

.customer-avatar{

}

.customer-copy{
  position: relative;
  top: -90px;
}

.container-customer{
  width: 70%;
  margin: 0 auto;
  background-color: $md-grey;
}


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.container-how-it-works{
  width: 70%;
  margin: 0 auto;
}


.how-it-works-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.how-it-works-box{
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  height: 250px;
  max-width: 400px;
  padding: 50px 30px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  box-shadow: -3px 5px 10px 0 rgba(0,0,0,.03);
  text-align: center;
  background-color: #F2F2F2;
}

.accountant-skills-section{
  height: 300px;
  background-color: white;
}

.how-it-works-section-background{
  background-color: white;
}

.background-color-white{
  background-color: white;
}

.space-right {
  margin-right: 15px;
}
