
.main-container {
  display: flex;
}

.enquiries{
  flex-grow: 1;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.enquiry-card {
  background-color: white;
  padding: 20px 30px 20px 30px;
  margin: 50px;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  margin: 10px 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-top: 0;
  }
}


.quote-card{
  background-color: white;
  padding: 10px 20px 20px 20px;
  margin-bottom: 30px;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  height: 250px;
  position: relative;
}


.flex-buttons{
  margin-left: auto;
  margin-right: 10px;
}

.slow-appear {
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0.99; }
    to   { opacity: 1; }
}

#refresh-button {
  margin: 15px;
  cursor: pointer;
}

#quote-title {
  margin: 0;
}

#quote-email {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: bolder;
}

#quote-message {
  font-size: 16px;
}

#quote-buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#quote-pills {
  padding: 0 0 10px 0;
  justify-content: space-between;

  .pill {
    font-size: 14px;
    border-radius: 14px;
    padding: 0 12px;
    margin: 5px;
  }

  p {
    margin-bottom: 0;
  }
}

#invited-you {
  background-color: transparent;
  border: 1px solid #94D1F2;
  color: #94D1F2 !important;
}

#invited-new {
  background-color: transparent;
  border: 1px solid #FCA311;
  color: #FCA311 !important;
}

#connected-pill {
  background-color: $green;
  color: white !important;
}

#unconnected-pill {
  background-color: #F29D8C;
  color: white !important;
}

.pos-rel {
  position: relative;
}

.top-right{
  position: absolute;
  top: 20px;
  right: 30px;
}

.btm-right{
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.connected-button{
  color: white;
}

