<div class="grey-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="white-card">
          <h2>Accountants trusted in your network</h2>
          <p>
            We
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
