<div class="grey-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="white-card">
          <h2>Accountants trusted in your network</h2>
          <p>
            <strong>Recommendations matter. </strong>Thats why we have the option to see who serves the businesses in your network. <br><br>

            We're fine tuning this feature at the moment, but have no fear, our team of accountant detectives can still help.<br><br>

            Shoot a message over to <a href="mailto:team@accountant-magnet.com">team@accountant-magnet.com</a> to get hands-on help, or just to chat!<br><br>

            Last but certainly not least, We <strong>never share any of your network data</strong> with third parties (including accountants).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
