<div class="flex-parent">
  <div class="vertical-nav">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Your Enquiries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Your Quotes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Your Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">New Enquiry</a>
      </li>
    </ul>
  </div>

  <!-- Enquiries and quotes-->

    <div class="enquiry-card">
      <% @user_enquiries.each do |enquiry| %>
        <h1> <%= enquiry.title %></h1>
        <p> <%= enquiry.description %> </p>
      <% end %>
    </div>



  <h2>View quotes</h2>



  <div class="quote-card">
      <% @user_enquiries.each do |enquiry| %>
        <% enquiry.quotes.each do |quote| %>
          <p><%= quote.message %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
