<a type="button" class="btn btn-info-outline header-btn" data-toggle="modal" data-target="#contactModal">
  Get in touch
</a>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reach <strong><%= accountant.name %></strong> through one of the following:</h4>
      </div>
      <div class="modal-body">
        <p>Email: <%= @accountant.email %></p>
        <p>Phone: <%= @accountant.phone_number %></p>
        <% if @accountant.website %>
          <p>Website: <%= link_to @accountant.website, 'http://' + @accountant.website, target: :_blank %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
