<div class="grey-wrapper">
  <div class="container">
    <div class="white-card">
      <h1>Find your accountant</h1>
    </div>
  </div>

  <% @accountants.each do |accountant| %>
    <%= render 'accountant_card', accountant: accountant %>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @accountants, renderer: BootstrapPagination::Rails %>
</div>

