<div class="grey-wrapper">
  <div class="container">
    <div class="white-card">
      <h1>Accountant Show Page</h1>
<!--       <%= link_to accountant.website, 'https://' + accountant.website, target: :_blank %> -->
    </div>
  </div>
</div>
