<div id="needs">
  <h3>You need:</h3>
  <p>Services:</p>
  <div id="services" class="service-choices"></div>
  <p>Subject:</p>
  <div id="subject"></div>
  <p>Description:</p>
  <div id="description"></div>
  <hr>
  <div id="locality_true" class='hidden'>I'm only interested in local accountants</div>
  <div id="locality_false" class=''>I'm open to accountants outside of my area</div>
</div>
<hr>
<div id="business">
  <h3>Your business</h3>
  <p>Industry: <span id="industry"></span></p>
  <p>Turnover: <span id="size"></span></p>
  <p>Location: <span id="location"></span></p>
</div>

<% if user_signed_in? %>
  <%= f.input :email, as: :hidden, input_html: { value: current_user.email } %>
<% else %>
  <%= f.input :email %>
<% end %>
<%= f.submit class: 'btn btn-primary btn-lg' %>
<button class="btn btn-secondary breathing-room back-button btn-lg" type="button">Back</button>
