<h3>You need:</h3>
<div class="needs">
  <p>Services:</p>
  <div class="services"></div>
  <p>Subject:</p>
  <div class="subject"></div>
  <p>Description:</p>
  <div class="description"></div>
</div>
<%= f.submit %>
