<h3>A bit about you</h3>
<p>Find your business to help us get you the most relevant quotes</p>
<%= f.input :email %>
<br>
<button class="btn btn-default btn-secondary" type="button">Back</button>
<button class="btn btn-default btn-primary" type="button">Next</button>
