.service-choices {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.service-choice label {
  background: #b7b7b7;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active-enquiry {
  background: $secondary-blue;
  color: white;
  opacity: 1;
  }
}

.tick-wrapper {
  display: inline-block;
}

.check path {
    fill:none;
    stroke: white;
    stroke-miterlimit:10;
    stroke-width: 25px;


    margin: 40px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: draw 0.9s linear forwards;

}

svg { overflow:visible }

@keyframes draw {
    from {
        stroke-linecap: round;
    }
    to {
        stroke-linecap: round;
        stroke-dashoffset: 0;
    }
}

#new_enquiry {
  td {
    padding: 30px 25px;
    border-bottom: 1px solid $md-grey;
    p {
      opacity: 50%;
    }
  }
}

#services {
  display: flex;
  flex-wrap: wrap;
}

.selected-service {
  background: $secondary-blue;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  opacity: 1;
  flex: 0 0 30%;
  text-align: center;
  color: white;
  width: 50%;
  font-weight: bold;
}

#email-subject {
  width: 60%;
  display: inline;
  margin: 5px 0 !important;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid $md-grey;
  color: $dk-grey;
}

#email-body {
  width: 100%;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid $md-grey;
  color: $dk-grey;
}

.accountant-search {
  display: flex;
  align-items: top;
  li.select2-selection__choice {
    background-color: $secondary-blue !important;
    color: white !important;
    border: none !important;
    span {
      color: white !important;
    }
  }
  .form-group {
    flex-grow: 1;
    margin: 0;
    span {
      margin-right: 0 !important;
      width: inherit;
    }
  }
  .form-group.select.optional.accountant_industries > span > span.selection > span,
  .form-group.select.optional.accountant_services > span > span.selection > span {
    flex-grow: 1;
    height: 4.5em;
    margin-bottom: 0;
  }
}

#location-filter .ap-nostyle-input  {
  display: inline-block;
  border: 1px solid #CCCCCC;
  background: #ffffff;
  padding: 1em 0 1em 45px;
  flex-grow: 1;
}

#location-filter .ap-nostyle-input:focus, #location-filter .ap-nostyle-input:active {
  outline: 0;
  border-color: $secondary-blue;
  background: #ffffff;
}

#algolia-places-nostyle-listbox-0 {
  box-shadow: none;
  border: 1px solid $md-grey;
  background: #fff;
  width: 100%;
}

#location-filter button.ap-nostyle-input-icon {
  display: block;
  position: absolute;
  background: none;
  border: none;
  fill: $secondary-blue;
}

#location-filter .ap-nostyle-icon-pin { left: 5px;top: 17px; }
#location-filter .ap-nostyle-icon-clear { right: 5px;top: 17px }
#location-filter .ap-nostyle-suggestion { border: 1px solid $lt-grey; }
