#enquiry-tabs {
  border-bottom: none;
  border-right: 1px solid #ddd;
  li {
    float: none;
    margin:0px;

    a {
      color: $secondary-blue;
    }

    &.active {
      a, a:hover, a:focus {
        border-bottom-color: #ddd;
        border-right-color: transparent;
        background: $secondary-blue;
        border:none;
        border-radius:0px;
        margin:0px;
        color: white;
      }
      a::after {
        content: "";
        position: absolute;
        top: 10px;
        right: -10px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $secondary-blue;
        display: block;
        width: 0;
        }
    }
  }
}

.tabs-area {
  margin-top: 100px;
}
