<div class="grey-wrapper">
  <div class="container" style="min-height: 100vh">
    <h1 style="font-size: 60px">Submit an Enquiry</h1>
    <div class="tabs-area">
      <div class="col-xs-12">
        <div class="col-xs-3 tab-margins">
          <ul class="nav nav-tabs tabs-left sideways" id="enquiry-tabs">
            <li class="active"><a href="#t1" data-toggle="tab">What you need</a></li>
            <li><a href="#t2" data-toggle="tab">A bit about you</a></li>
            <li><a href="#t3" data-toggle="tab" class="to-final-tab">Confirm & send</a></li>
          </ul>
        </div>

        <div class="col-xs-9 body-padding">
          <div class="white-card">
            <%= simple_form_for @enquiry, html: { class: "tab-content"} do |f| %>
              <div class="tab-pane active" id="t1">
                <%= render '/enquiries/shared/needs', f: f %>
              </div>
              <div class="tab-pane" id="t2">
                <%= render '/enquiries/shared/you', f: f %>
              </div>
              <div class="tab-pane" id="t3">
                <%= render '/enquiries/shared/submit', f: f %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
